<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMonitoring" />
                <binding name="BasicHttpBinding_IVelib" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/VelibLibrary/Velib"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVelib"
                contract="VelibLibrary.IVelib" name="BasicHttpBinding_IVelib" />
            <endpoint address="http://localhost:8733/VelibLibrary/Monitoring"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoring"
                contract="VelibLibrary.IMonitoring" name="BasicHttpBinding_IMonitoring" />
        </client>
    </system.serviceModel>
</configuration>