<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVelib" />
                <binding name="BasicHttpBinding_IMonitoring" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IVelibEventContract" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/VelibLibrary/Velib"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVelib"
                contract="ServiceReference.IVelib" name="BasicHttpBinding_IVelib" />
            <endpoint address="http://localhost:8733/VelibLibrary/Monitoring"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonitoring"
                contract="ServiceReference.IMonitoring" name="BasicHttpBinding_IMonitoring" />
            <endpoint address="http://localhost:8733/VelibLibrary/Event"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IVelibEventContract"
                contract="ServiceReference.IVelibEventContract" name="WSDualHttpBinding_IVelibEventContract">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>